/* imports*/
@import url(https://fonts.googleapis.com/css?family=Roboto|Satisfy);

/*Tags*/
html{ width: 100%; }

body{
    padding: 0px;
    margin: 0px;
    color: #212121;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
}

header{ margin-bottom: 2.85em; }

footer{
  height: 2em;
  margin-top:  2.5em;
  background-color: #512DA8;
}

p{ margin-bottom: 2em; }

h1,h2{
    text-align: center;
    margin-bottom: 1em;
}

hr{
    margin-top: -0.4em;
    height: 0.2em;
    border: none;
    background: linear-gradient(to right, rgba(255,255,255,.7) ,rgba(255,255,255,0));
}

ul{
  list-style: none;
}

#about p::first-letter{
    font-size: 150%;
    font-weight: bolder;
    color: #512DA8;
}

#projects a , a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

#contacts a, a:visited {
    text-decoration: none;
    color:#212121;
    font-weight: bolder;
}

/*ids*/
#about{ text-align: center;}

#projects{
    background-color:#512DA8;
    color: #fff;
}

#myNavbar{
    margin-left: 40%;
    font-weight: bold;
}

#contacts, #projects {padding: 2em;}

#project-name h1 {
   margin: 1.5em auto 2em auto;
   font-size: 350%;
   color:#fff;
}

#project-name {
  background: -webkit-linear-gradient(to left, #6441A5 , #2a0845);
  background: linear-gradient(to left, #6441A5 , #2a0845);

}

/*Classes*/
.col-project{padding: 2em;}

.project-board h2{text-align: left;}

.img-circle{
    width: 20em;
    height: 20em;
    border: 7px double rgba(0,0,0,.74);
    padding: 0.3em;
    margin: 1.5em;
    margin-bottom: 0.8em;
    box-shadow: 0px 0px 5px rgba(24,24,24,.83);
}

.navbar-default{
    background: linear-gradient(rgb(255,255,255),rgb(255,255,255),rgb(255,255,255),rgba(255,255,255,.85));
    border:none;
    box-shadow: 0px 0px 10px rgba(24,24,24,.83);
}

.navbar-default .navbar-brand{
    font-size: 1.8em;
    font-weight: bolder;
    font-family: 'Satisfy', cursive;
    color: #512DA8;
}

.navbar-toggle {
  margin-top:0.3em;
  margin-bottom: 0.3em;
  border: none;
}

.navbar-default .navbar-nav > li > a:hover{ color: #512DA8; }
